
.name{
    position:absolute;
    top:450px;
    color:#A9A9A9;
    font-size:65px;
    text-decoration:none;
    padding-left:26%;
    padding-right:23%;
    }

.subintro{
   position:absolute;
   font-size:55px;
   top:550px;
   color:#A9A9A9;
   padding-left:30%;
}